In [1]:
import pandas as pd

In [2]:
url = 'https://www.fool.com/the-ascent/research/average-house-price-state/'
housing_cost_df = pd.read_html(url)[1]

In [3]:
housing_cost_df.to_csv('housing_cost_per_state.csv', index=False)
housing_sorted = housing_cost_df.sort_values(by='Typical home value, June 2021', ascending=False)
housing_sorted = housing_sorted.reset_index(drop=True)

In [4]:
income_by_state = pd.read_csv('\data\median income by state 2021.csv')  
income_by_state

             State  HouseholdIncome
0         Maryland            84805
1       New Jersey            82545
2           Hawaii            81275
3    Massachusetts            81215
4      Connecticut            78444
5           Alaska            77640
6    New Hampshire            76768
7       California            75235
8         Virginia            74222
9       Washington            73775
10        Colorado            72331
11            Utah            71621
12       Minnesota            71306
13        New York            68486
14        Delaware            68287
15    Rhode Island            67167
16        Illinois            65886
17    North Dakota            64894
18         Wyoming            64049
19          Oregon            62818
20         Vermont            61973
21           Texas            61874
22       Wisconsin            61747
23    Pennsylvania            61744
24        Nebraska            61439
25            Iowa            60523
26          Nevada            60365
27          Kansas            59597
28         Arizona            58945
29         Georgia            58700
30    South Dakota            58275
31           Maine            57918
32        Michigan            57144
33            Ohio            56602
34         Indiana            56303
35           Idaho            55785
36         Florida            55660
37        Missouri            55461
38         Montana            54970
39  North Carolina            54602
40       Tennessee            53320
41  South Carolina            53199
42        Oklahoma            52919
43        Kentucky            50589
44         Alabama            50536
45      New Mexico            49754
46       Louisiana            49469
47        Arkansas            47597
48   West Virginia            46711
49     Mississippi            45081

In [5]:
housing_merged = housing_cost_df.merge(income_by_state, how='left', on='State')
housing_merged

                   State Typical home value, June 2021  HouseholdIncome
0                Alabama                      $170,184          50536.0
1                 Alaska                      $300,592          77640.0
2                Arizona                      $355,540          58945.0
3               Arkansas                      $149,120          47597.0
4             California                      $683,996          75235.0
5               Colorado                      $490,944          72331.0
6            Connecticut                      $318,096          78444.0
7               Delaware                      $308,067          68287.0
8   District of Columbia                      $691,997              NaN
9                Florida                      $297,390          55660.0
10               Georgia                      $245,778          58700.0
11                Hawaii                      $730,511          81275.0
12                 Idaho                      $403,291          55785.0
13              Illinois                      $233,661          65886.0
14               Indiana                      $185,805          56303.0
15                  Iowa                      $165,955          60523.0
16                Kansas                      $176,898          59597.0
17              Kentucky                      $168,998          50589.0
18             Louisiana                      $187,844          49469.0
19                 Maine                      $306,018          57918.0
20              Maryland                      $366,581          84805.0
21         Massachusetts                      $518,203          81215.0
22              Michigan                      $208,337          57144.0
23             Minnesota                      $301,576          71306.0
24           Mississippi                      $140,818          45081.0
25              Missouri                      $194,226          55461.0
26               Montana                      $359,678          54970.0
27              Nebraska                      $206,538          61439.0
28                Nevada                      $368,254          60365.0
29         New Hampshire                      $366,129          76768.0
30            New Jersey                      $408,517          82545.0
31            New Mexico                      $248,670          49754.0
32              New York                      $371,880          68486.0
33        North Carolina                      $248,950          54602.0
34          North Dakota                      $246,588          64894.0
35                  Ohio                      $181,756          56602.0
36              Oklahoma                      $150,754          52919.0
37                Oregon                      $447,968          62818.0
38          Pennsylvania                      $234,684          61744.0
39          Rhode Island                      $372,809          67167.0
40        South Carolina                      $225,406          53199.0
41          South Dakota                      $242,923          58275.0
42             Tennessee                      $231,682          53320.0
43                 Texas                      $247,210          61874.0
44                  Utah                      $465,012          71621.0
45               Vermont                      $299,998          61973.0
46              Virginia                      $328,640          74222.0
47            Washington                      $519,552          73775.0
48         West Virginia                      $117,768          46711.0
49             Wisconsin                      $230,733          61747.0
50               Wyoming                      $273,992          64049.0

In [17]:
housing_df = housing_merged.dropna()
housing_df

             State Typical home value, June 2021  HouseholdIncome
0          Alabama                      $170,184          50536.0
1           Alaska                      $300,592          77640.0
2          Arizona                      $355,540          58945.0
3         Arkansas                      $149,120          47597.0
4       California                      $683,996          75235.0
5         Colorado                      $490,944          72331.0
6      Connecticut                      $318,096          78444.0
7         Delaware                      $308,067          68287.0
9          Florida                      $297,390          55660.0
10         Georgia                      $245,778          58700.0
11          Hawaii                      $730,511          81275.0
12           Idaho                      $403,291          55785.0
13        Illinois                      $233,661          65886.0
14         Indiana                      $185,805          56303.0
15            Iowa                      $165,955          60523.0
16          Kansas                      $176,898          59597.0
17        Kentucky                      $168,998          50589.0
18       Louisiana                      $187,844          49469.0
19           Maine                      $306,018          57918.0
20        Maryland                      $366,581          84805.0
21   Massachusetts                      $518,203          81215.0
22        Michigan                      $208,337          57144.0
23       Minnesota                      $301,576          71306.0
24     Mississippi                      $140,818          45081.0
25        Missouri                      $194,226          55461.0
26         Montana                      $359,678          54970.0
27        Nebraska                      $206,538          61439.0
28          Nevada                      $368,254          60365.0
29   New Hampshire                      $366,129          76768.0
30      New Jersey                      $408,517          82545.0
31      New Mexico                      $248,670          49754.0
32        New York                      $371,880          68486.0
33  North Carolina                      $248,950          54602.0
34    North Dakota                      $246,588          64894.0
35            Ohio                      $181,756          56602.0
36        Oklahoma                      $150,754          52919.0
37          Oregon                      $447,968          62818.0
38    Pennsylvania                      $234,684          61744.0
39    Rhode Island                      $372,809          67167.0
40  South Carolina                      $225,406          53199.0
41    South Dakota                      $242,923          58275.0
42       Tennessee                      $231,682          53320.0
43           Texas                      $247,210          61874.0
44            Utah                      $465,012          71621.0
45         Vermont                      $299,998          61973.0
46        Virginia                      $328,640          74222.0
47      Washington                      $519,552          73775.0
48   West Virginia                      $117,768          46711.0
49       Wisconsin                      $230,733          61747.0
50         Wyoming                      $273,992          64049.0

In [18]:

#housing_df.astype({'Typical home value, June 2021': 'float'}).dtypes
housing_df['Typical home value, June 2021'] = housing_df['Typical home value, June 2021'].str.replace(',', '')
housing_df['Typical home value, June 2021'] = housing_df['Typical home value, June 2021'].str.replace('$', '')
housing_df['Typical home value, June 2021']

<ipython-input-18-1412db7b1549>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  housing_df['Typical home value, June 2021'] = housing_df['Typical home value, June 2021'].str.replace(',', '')
<ipython-input-18-1412db7b1549>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  housing_df['Typical home value, June 2021'] = housing_df['Typical home value, June 2021'].str.replace('$', '')
<ipython-input-18-1412db7b1549>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  housing_df['Typical home value, June 2021'] = housing_df['Typical home value, June 2021'].str.replace('$', '')

0     170184
1     300592
2     355540
3     149120
4     683996
5     490944
6     318096
7     308067
9     297390
10    245778
11    730511
12    403291
13    233661
14    185805
15    165955
16    176898
17    168998
18    187844
19    306018
20    366581
21    518203
22    208337
23    301576
24    140818
25    194226
26    359678
27    206538
28    368254
29    366129
30    408517
31    248670
32    371880
33    248950
34    246588
35    181756
36    150754
37    447968
38    234684
39    372809
40    225406
41    242923
42    231682
43    247210
44    465012
45    299998
46    328640
47    519552
48    117768
49    230733
50    273992
Name: Typical home value, June 2021, dtype: object

In [19]:
housing_df['Typical home value, June 2021'] = pd.to_numeric(housing_df['Typical home value, June 2021'])
housing_df.dtypes

<ipython-input-19-13437ee219a4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  housing_df['Typical home value, June 2021'] = pd.to_numeric(housing_df['Typical home value, June 2021'])

State                             object
Typical home value, June 2021      int64
HouseholdIncome                  float64
dtype: object

In [20]:
percent_income = (housing_df['Typical home value, June 2021'] / housing_df['HouseholdIncome']) *100
percent_income

0     336.757955
1     387.161257
2     603.172449
3     313.297057
4     909.146009
5     678.746319
6     405.507113
7     451.135648
9     534.297521
10    418.701874
11    898.813903
12    722.938066
13    354.644386
14    330.009058
15    274.201543
16    296.823666
17    334.060764
18    379.720633
19    528.364239
20    432.263428
21    638.063166
22    364.582458
23    422.932152
24    312.366629
25    350.202845
26    654.316900
27    336.167581
28    610.045556
29    476.929189
30    494.902175
31    499.799011
32    543.001489
33    455.935680
34    379.985823
35    321.112328
36    284.876887
37    713.120443
38    380.091993
39    555.047866
40    423.703453
41    416.856285
42    434.512378
43    399.537770
44    649.267673
45    484.078550
46    442.779769
47    704.238563
48    252.120486
49    373.674834
50    427.784977
dtype: float64

In [21]:
housing_df.loc[:,'Percent House Cost Per Income (%)'] = percent_income
housing_df

C:\Users\chris\Anaconda3\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\chris\Anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,State,"Typical home value, June 2021",HouseholdIncome,Percent House Cost Per Income (%)
0,Alabama,170184,50536.0,336.757955
1,Alaska,300592,77640.0,387.161257
2,Arizona,355540,58945.0,603.172449
3,Arkansas,149120,47597.0,313.297057
4,California,683996,75235.0,909.146009
5,Colorado,490944,72331.0,678.746319
6,Connecticut,318096,78444.0,405.507113
7,Delaware,308067,68287.0,451.135648
9,Florida,297390,55660.0,534.297521
10,Georgia,245778,58700.0,418.701874
11,Hawaii,730511,81275.0,898.813903
12,Idaho,403291,55785.0,722.938066
13,Illinois,233661,65886.0,354.644386
14,Indiana,185805,56303.0,330.009058
15,Iowa,165955,60523.0,274.201543
16,Kansas,176898,59597.0,296.823666
17,Kentucky,168998,50589.0,334.060764
18,Louisiana,187844,49469.0,379.720633
19,Maine,306018,57918.0,528.364239
20,Maryland,366581,84805.0,432.263428
21,Massachusetts,518203,81215.0,638.063166
22,Michigan,208337,57144.0,364.582458
23,Minnesota,301576,71306.0,422.932152
24,Mississippi,140818,45081.0,312.366629
25,Missouri,194226,55461.0,350.202845
26,Montana,359678,54970.0,654.316900
27,Nebraska,206538,61439.0,336.167581
28,Nevada,368254,60365.0,610.045556
29,New Hampshire,366129,76768.0,476.929189
30,New Jersey,408517,82545.0,494.902175
31,New Mexico,248670,49754.0,499.799011
32,New York,371880,68486.0,543.001489
33,North Carolina,248950,54602.0,455.935680
34,North Dakota,246588,64894.0,379.985823
35,Ohio,181756,56602.0,321.112328
36,Oklahoma,150754,52919.0,284.876887
37,Oregon,447968,62818.0,713.120443
38,Pennsylvania,234684,61744.0,380.091993
39,Rhode Island,372809,67167.0,555.047866
40,South Carolina,225406,53199.0,423.703453
41,South Dakota,242923,58275.0,416.856285
42,Tennessee,231682,53320.0,434.512378
43,Texas,247210,61874.0,399.537770
44,Utah,465012,71621.0,649.267673
45,Vermont,299998,61973.0,484.078550
46,Virginia,328640,74222.0,442.779769
47,Washington,519552,73775.0,704.238563
48,West Virginia,117768,46711.0,252.120486
49,Wisconsin,230733,61747.0,373.674834
50,Wyoming,273992,64049.0,427.784977

In [24]:
housing_df_2021 = housing_df.rename(columns={"Typical home value, June 2021": "Typical Home Value (June 2021)", "HouseholdIncome": "Household Income (2021)"})
housing_df_2021

,State,Typical Home Value (June 2021),Household Income (2021),Percent House Cost Per Income (%)
0,Alabama,170184,50536.0,336.757955
1,Alaska,300592,77640.0,387.161257
2,Arizona,355540,58945.0,603.172449
3,Arkansas,149120,47597.0,313.297057
4,California,683996,75235.0,909.146009
5,Colorado,490944,72331.0,678.746319
6,Connecticut,318096,78444.0,405.507113
7,Delaware,308067,68287.0,451.135648
9,Florida,297390,55660.0,534.297521
10,Georgia,245778,58700.0,418.701874
11,Hawaii,730511,81275.0,898.813903
12,Idaho,403291,55785.0,722.938066
13,Illinois,233661,65886.0,354.644386
14,Indiana,185805,56303.0,330.009058
15,Iowa,165955,60523.0,274.201543
16,Kansas,176898,59597.0,296.823666
17,Kentucky,168998,50589.0,334.060764
18,Louisiana,187844,49469.0,379.720633
19,Maine,306018,57918.0,528.364239
20,Maryland,366581,84805.0,432.263428
21,Massachusetts,518203,81215.0,638.063166
22,Michigan,208337,57144.0,364.582458
23,Minnesota,301576,71306.0,422.932152
24,Mississippi,140818,45081.0,312.366629
25,Missouri,194226,55461.0,350.202845
26,Montana,359678,54970.0,654.316900
27,Nebraska,206538,61439.0,336.167581
28,Nevada,368254,60365.0,610.045556
29,New Hampshire,366129,76768.0,476.929189
30,New Jersey,408517,82545.0,494.902175
31,New Mexico,248670,49754.0,499.799011
32,New York,371880,68486.0,543.001489
33,North Carolina,248950,54602.0,455.935680
34,North Dakota,246588,64894.0,379.985823
35,Ohio,181756,56602.0,321.112328
36,Oklahoma,150754,52919.0,284.876887
37,Oregon,447968,62818.0,713.120443
38,Pennsylvania,234684,61744.0,380.091993
39,Rhode Island,372809,67167.0,555.047866
40,South Carolina,225406,53199.0,423.703453
41,South Dakota,242923,58275.0,416.856285
42,Tennessee,231682,53320.0,434.512378
43,Texas,247210,61874.0,399.537770
44,Utah,465012,71621.0,649.267673
45,Vermont,299998,61973.0,484.078550
46,Virginia,328640,74222.0,442.779769
47,Washington,519552,73775.0,704.238563
48,West Virginia,117768,46711.0,252.120486
49,Wisconsin,230733,61747.0,373.674834
50,Wyoming,273992,64049.0,427.784977

In [26]:
housing_df_2021.to_csv('housing cost per state.csv', index=False)